In [1]:
import pandas as pd

In [2]:
cars=pd.Series(["BMW","HONDA","TOYOTA"])

In [3]:
cars

0       BMW
1     HONDA
2    TOYOTA
dtype: object

In [4]:
color=pd.Series(["Black","Blue","White"])

In [5]:
color

0    Black
1     Blue
2    White
dtype: object

In [6]:
combi= pd.DataFrame({"car name":cars,"car color":color})

In [7]:
combi

  car name car color
0      BMW     Black
1    HONDA      Blue
2   TOYOTA     White

In [13]:
sample_read_test=pd.read_csv('./industry.csv')
sample_read_test

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [19]:
sample_read_test.to_csv("./exported_data.csv",index=False)

In [20]:
new_data=pd.read_csv("./exported_data.csv")
new_data

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [21]:
combi.dtypes

car name     object
car color    object
dtype: object

In [22]:
combi

  car name car color
0      BMW     Black
1    HONDA      Blue
2   TOYOTA     White

In [23]:
combi.columns

Index(['car name', 'car color'], dtype='object')

In [24]:
new_data.index

RangeIndex(start=0, stop=43, step=1)

In [25]:
combi.sum()

car name     BMWHONDATOYOTA
car color    BlackBlueWhite
dtype: object

In [26]:
len(combi)

3

In [27]:
combi.head(2)

  car name car color
0      BMW     Black
1    HONDA      Blue

In [28]:
combi.tail(1)

  car name car color
2   TOYOTA     White

In [32]:
fruits = pd.Series(["Apple","Mango","Banana","Jack Fruit"],index=[2,4,6,8])

In [33]:
fruits

2         Apple
4         Mango
6        Banana
8    Jack Fruit
dtype: object

In [34]:
fruits.loc[4]

'Mango'

In [35]:
fruits.iloc[1]

'Mango'

In [37]:
fruits.loc[:4]

2    Apple
4    Mango
dtype: object

In [43]:
sample_read_test.Industry

0                Accounting/Finance
1      Advertising/Public Relations
2                Aerospace/Aviation
3     Arts/Entertainment/Publishing
4                        Automotive
5                  Banking/Mortgage
6              Business Development
7              Business Opportunity
8           Clerical/Administrative
9           Construction/Facilities
10                   Consumer Goods
11                 Customer Service
12               Education/Training
13                 Energy/Utilities
14                      Engineering
15              Government/Military
16                            Green
17                       Healthcare
18               Hospitality/Travel
19                  Human Resources
20         Installation/Maintenance
21                        Insurance
22                         Internet
23                  Job Search Aids
24         Law Enforcement/Security
25                            Legal
26             Management/Executive
27         Manufacturing/Operations
28                        Marketing
29             Non-Profit/Volunteer
30           Pharmaceutical/Biotech
31            Professional Services
32               QA/Quality Control
33                      Real Estate
34          Restaurant/Food Service
35                           Retail
36                            Sales
37                 Science/Research
38                    Skilled Labor
39                       Technology
40               Telecommunications
41         Transportation/Logistics
42                            Other
Name: Industry, dtype: object

In [44]:
combi[combi["car color"]=="White"]

  car name car color
2   TOYOTA     White